<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Сайт аренды самокатов{% endblock %}</title>
</head>
<body>
    <div>
        <a href="{% url 'homepage:index' %}">Главная</a>
        {% if user.is_authenticated %}
            <a href="{% url 'users:profile' %}">Профиль</a>
            <a href="{% url 'users:logout' %}">Выйти</a>
        {% else %}
            <a href="{% url 'users:login' %}">Вход</a>
            <a href="{% url 'users:register' %}">Регистрация</a>
        {% endif %}
    </div>

    <div>
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>